<div>
    <h1>np-ui-time-picker</h1>
    <h3>Custom Angular 9 and 9+ time picker component.</h3>
</div>

<div>
    <fieldset>
        <legend>1. Default Time picker</legend>
        <np-ui-time-picker [(value)]="timePicker"></np-ui-time-picker>
        <div>Selected time is : {{timePicker}}</div>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>2. 24 hours format time picker</legend>
        <np-ui-time-picker [(value)]="timePicker2" [is24Hours]=true></np-ui-time-picker>
        <div>Selected time is : {{timePicker2}}</div>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>3. Set time in time picker</legend>
        <np-ui-time-picker [(value)]="timePicker3"></np-ui-time-picker>
        <button type="button" (click)="setTime()">Set 10:00:00 PM</button>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>4. OnChnage event of time picker</legend>
        <np-ui-time-picker [(value)]="timePicker4" (onChange)="onChange($event)"></np-ui-time-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>5. Always open time picker</legend>
        <np-ui-time-picker [(value)]="timePicker5" [defaultOpen]="true"></np-ui-time-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>6. Set disable/enable</legend>
        <np-ui-time-picker [(value)]="timePicker6" [disabled]="isDisable"></np-ui-time-picker>
        <button (click)="isDisable = !isDisable">Toggle disable/enable</button>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>7. Show Now button</legend>
        <np-ui-time-picker [showNowButton]="true"></np-ui-time-picker>
        <np-ui-time-picker [showNowButton]="true" [is24Hours]=true></np-ui-time-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>8. Set placeholder to time picker</legend>
        <np-ui-time-picker [placeholder]="'Select start time'"></np-ui-time-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>9. Hide seconds dropdown in time picker</legend>
        <np-ui-time-picker [placeholder]="'Select start time'" [hideSeconds]=true [showNowButton]=true
            [(value)]="timePicker8"></np-ui-time-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>10. Required validation</legend>
        <np-ui-time-picker [required]="true" [name]="'txtTimePicker'"></np-ui-time-picker>
    </fieldset>
</div>